<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/resources/css/auth/login.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <div class="login-container">
        <form action="/singIn" method="POST" id="form" class="login-form">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="username"
            required
          /><br />
          <div class="usernameErr"></div>

          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
          /><br />
          <div class="passwordErr"></div>

          <button type="submit" id="btn">Login</button><br />
          <a href="/register">You don't have an account yet? register</a>
        </form>
      </div>
      <div class="img-container">
        <p>hjduisdhuih</p>
      </div>
    </div>

      
    <script>
   
    
      document.getElementById("form")
        .addEventListener("submit", async function (event) {
          event.preventDefault();
          const username = document.getElementById("username").value;
          const password = document.getElementById("password").value;
          const usernameErr = document.querySelector(".usernameErr");
        const passwordErr = document.querySelector(".passwordErr");

          usernameErr.innerHTML = '';
          passwordErr.innerHTML = '';
          console.log(username, password);
          const response = await fetch("/singIn", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ username, password }),
          });
        
          if (response.ok) {
            window.location.href = "/";
          } else{
            const data = await response.json();
            if (data.error) {
              usernameErr.innerHTML = data.error;
              passwordErr.innerHTML = data.error;
            }
            if (data.username) {
              usernameErr.innerHTML = data.username;
            } 
            if (data.password) {
              passwordErr.innerHTML = data.password;
            }
          }
        });
    </script>
  </body>
</html>