<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/resources/css/auth/register.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <title>Signup</title>
  </head>
  <body>
    <!-- Left Image Section -->
    <div class="image-section">
      <img src="/resources/imgs/lain.png" alt="Lain" class="bottom-image" />
    </div>

    <!-- Right Signup Section -->
    <div class="register-container">
      <form action="/signUp" method="POST" id="form" class="register-form">
        <h1>Signup</h1>
        <p>Create a new account</p>

        <div class="form-field">
          <label>Username</label>
          <div class="input-group">
            <input type="text" id="username" name="username" placeholder="Username" required />
            <i class="fa-solid fa-user"></i>
          </div>
        </div>

        <div class="form-field">
          <label>Email address</label>
          <div class="input-group">
            <input type="email" id="email" name="email" placeholder="email@email.com" required />
            <i class="fa-solid fa-envelope"></i>
          </div>
        </div>

        <div class="form-field">
          <label>Password</label>
          <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Enter your password" required />
            <i class="fa-solid fa-lock"></i>
          </div>
        </div>

        <div class="form-field">
          <label>Password Verification</label>
          <div class="input-group">
            <input type="password" id="confirmationPassword" name="confirmationPassword" placeholder="Enter your password" required />
            <i class="fa-solid fa-lock"></i>
          </div>
        </div>

        <button type="submit">Signup now</button>
        <p class="login-text">Already have an account? <a href="/login" class="login-link">Login</a></p>
      </form>
    </div>
  </body>
</html>