{{define "posts"}}

{{range .Posts}}
<div class="post" data-id="{{.ID}}">
    <h2><i class="fa-regular fa-user"></i>{{.Username}}</h2>
    <h1>
        {{.Title}}

    </h1>
    <p>posted on: {{.CreatedAt}}</p>
    <p>{{.Content}}</p>
    <div>
        {{range .Categories}}
        <span class="category">{{.}}</span>
        {{end}}
    </div>
    <button type="button" class="btn likepost">
        {{.Likes}} <i class="fa-regular fa-thumbs-up"></i>
    </button>
    <button type="button" class="btn dislikepost">
        {{.Dislikes}} <i class="fa-regular fa-thumbs-down"></i>
    </button>
    <button type="button" class="btn comments-btn">
        {{.CommentsCount}}<i class="fa-regular fa-comment"></i>
    </button>
    <div class="comments" >
        {{range .Comments}}
        <div>
            <h3> <i class="fa-regular fa-user"></i>{{.Username}}</h3>
            <p>{{.Content}}</p>
            <button  class="btn likecomment" type="button">
                {{.Likes}} <i class="fa-regular fa-thumbs-up"></i>
            </button>
            <button class="btn dislikecomment" type="button">
                {{.Dislikes}} <i class="fa-regular fa-thumbs-down"></i>
            </button>
        </div>

        {{end}}
        <div>

            <form action="/create_comment" method="post">
                <input type="checkbox" checked value="{{.ID}}" name="post_id" hidden>
                <textarea name="content"placeholder="write something..."></textarea>
                <button class="btn" type="submit" >comment</button>
            </form>
        </div>
    </div>
</div>
   

{{end}}

{{end}}