<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/components/footer.css">
    <link rel="stylesheet" href="/resources/css/components/nav.css">
    <link rel="stylesheet" href="/resources/css/components/menu.css">
    <link rel="stylesheet" href="/resources/css/index.css">
    <title>Document</title>
    
</head>
<body>
   {{template "navbar" .}}
    <main>  
        <form action="/" method="post">
            <input type="text" name="title" placeholder="title">
            <input type="checkbox" name="category" id="Sport" value="Sport">
            <label for="Sport">Sport</label>
            <input type="checkbox" name="category" id="Music" value="Music">
            <label for="Music">Music</label>
            <input type="checkbox" name="category" id="Movies" value="Movies">
            <label for="Movies">Movies</label>
            <input type="checkbox" name="category" id="Art" value="Art">
            <label for="Art">Art</label>
            <input type="checkbox" name="category" id="It" value="It">
            <label for="It">It</label>
            <input type="checkbox" name="category" id="Science" value="Science">
            <label for="Science">Science</label>
            <input type="checkbox" name="category" id="Politics" value="Politics">
            <label for="Politics">Politics</label>
            <input type="checkbox" name="category" id="Economy" value="Economy">
            <label for="Economy">Economy</label>
            <input type="checkbox" name="category" id="Health" value="Health">
            <label for="Health">Health</label>
            <input type="checkbox" name="category" id="Fashion" value="Fashion">
            <label for="Fashion">Fashion</label>
            <input type="checkbox" name="category" id="Food" value="Food">
            <label for="Food">Food</label>
            <input type="checkbox" name="category" id="Travel" value="Travel">
            <label for="Travel">Travel</label>
            <input type="checkbox" name="category" id="Education" value="Education">
            <label for="Education">Education</label>
            <input type="checkbox" name="category" id="History" value="History">
            <label for="History">History</label>
            <input type="checkbox" name="category" id="Culture" value="Culture">
            <label for="Culture">Culture</label>
            <input type="checkbox" name="category" id="Religion" value="Religion">
            <label for="Religion">Religion</label>
            <input type="checkbox" name="category" id="Nature" value="Nature">
            <label for="Nature">Nature</label>
            <input type="checkbox" name="category" id="Technology" value="Technology">
            <label for="Technology">Technology</label>
            <input type="checkbox" name="category" id="Social" value="Social">
            <label for="Social">Social</label>
            <input type="checkbox" required name="category" id="Other" value="Other">
            <label for="Other">Other</label>
           <textarea name="content" id="content" placeholder="post body"></textarea>
            <button type="submit">Submit</button>
        </form>
    </main>
    {{template "footer" .}}
    <script src="/resources/js/index.js"></script>
<script>
    var t = document.cookie;
    console.log(t["token"]);
</script> 
</body>
</html>