<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/components/footer.css">
    <link rel="stylesheet" href="/resources/css/components/nav.css">
    <link rel="stylesheet" href="/resources/css/components/menu.css">
    <link rel="stylesheet" href="/resources/css/index.css">
    <title>Document</title>
    
</head>
<body>
   {{template "navbar" .}}
    <main> 
        {{ if .IsLoggedIn}}
            <a href="/posts">
                <button>create post</button>
            </a>
        {{ end }}
    </main>
    {{template "footer" .}}
    <script src="/resources/js/index.js"></script>
<script>
    var t = document.cookie;
    console.log(t["token"]);
</script> 
</body>
</html>