:root {
  --primary-color: #d84040;
  --secondary-color: #8E1616;
  --text-color :#EEEEEE;
  --bg-color: #1D1616;
  --second-bg-color: #333;
}

/* General Reset */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  /* overflow-y: hidden; */
  background-color: var(--bg-color); /* Dark background for better contrast */
  color: var(--text-color); /* Light text for readability */
  line-height: 1.6;
}

/* Main Layout */
main {
  display: flex;
  margin-top: 10vh;
  gap: 2rem;
  padding: 2rem;
  justify-content: flex-start;
  width: 100%;
}

/* Posts Section */
.posts {
  flex: 1; /* Adjusted to fill remaining space */
  margin-left: 270px; /* Added margin to account for the menu's width */
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr; /* One post per row */
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  main {
    flex-direction: column; /* Stack content on smaller screens */
  }

  .menu {
    width: 80%; /* Make the menu full width on mobile */
    position: relative; /* Remove the fixed positioning */

    margin-bottom: 1rem;
  }

  .posts {
    width: 80%;
    margin: auto; /* Remove left margin on mobile */
  }
}
