.navbar{
    animation: animate 1s ease-in-out;
    position: fixed;
    display: flex;
    top: 0%;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    color: var(--text-color);
    background-color: var(--primary-color);
    
}
@keyframes animate {  
    
      0%{ 
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{ 
        transform: translateY(0);
        opacity: 1;
    }
}
.menu_icon{
    display: none;
    margin-right: 15px;
    cursor: pointer;
}

.navbar .title  {
    display: flex;
}
.link  {
    text-decoration: none;
    color: var(--text-color);
    padding: 0 1rem;
}
.link:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {

    .menu_icon{
        display: block;
        margin-right: 15px;
        cursor: pointer;
    }
}